.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  .wavy {
    position: relative;
    -webkit-box-reflect: below 0px linear-gradient(transparent,rgba(42,107,227,0.3));
  }

  .i-1 {
    --i: 1;
  }
  .i-2 {
    --i: 2;
  }
  .i-3 {
    --i: 3;
  }
  .i-4 {
    --i: 4;
  }
  .i-5 {
    --i: 5;
  }
  .i-6 {
    --i: 6;
  }
  .i-7 {
    --i: 7;
  }
  .i-8 {
    --i: 8;
  }
  .i-9 {
    --i: 9;
  }
  .i-10 {
    --i: 10;
  }
  .i-11 {
    --i: 11;
  }
  .i-12 {
    --i: 12;
  }

  .wavy span {
    position: relative;
    display: inline-block;
    color: rgb(42, 107, 227);
    font-size: 1rem;
    animation: animateName 3s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  @keyframes animateName {
    0%{
      transform: translateY(0px);
    }
    20%{
      transform: translateY(-10px);
    }
    40%,100% {
      transform: translateY(0px);
    }
  }

  img {
    width: 90px;
    height: 20px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}



.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;

      margin-bottom: 5px;
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  cursor: pointer;
  
  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

   
    background: url("../../assets/bgWhite.png");
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
      cursor: pointer;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      

      li {
        margin: 1rem;
       

        a {
          color: var(--gray-color);
          position: relative;
          line-height: 1em;
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 2px;
          transition: all 0.3s ease-in-out;
          
          &:hover {
            color: var(--secondary-color);
          }
        }
        
      }
      li:nth-child(1) a {
        color: rgb(40, 97, 220);
        --i:1;
      }
      li:nth-child(2) a {
        color: rgb(237, 137, 37);
        --i:2;
      }
      li:nth-child(3) a {
        color: rgb(244, 214, 19);
        --i:3;
      }
      li:nth-child(4) a {
        color: rgb(25, 177, 20);
        --i:4;
      }
      li:nth-child(5) a {
        color: rgb(181, 10, 163);
        --i:5;
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}





.app__navbar-menuList  {
  width: max-content;
  color: #eee;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  position: relative;
}

.app__navbar-menuList a::before,.app__navbar-menuList a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app__navbar-menuList a::before{
  background: rgb(255,255,255);
  animation: typewriter 0.5s steps(50) 500ms forwards;
  animation-delay: calc(0.1s * var(--i));
}


.app__navbar-menuList a::after {
  margin-left: 0.4rem;
  width: 0.08em;
  background: var(--gray-color);
  animation: typewriter 0.5s steps(50) 500ms forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}


