.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2rem;
}

.content h2 {
  position: absolute;
  @media screen and (max-width: 853px) {
    font-size: 25px;
  }
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #03a9f4;
}

.content h2:nth-child(2){
  color: #03a9f4;
  animation: water 4s ease-in-out infinite;
}

.content2{
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.content2 h2 {
  position: absolute;
  top: 20px;
  @media screen and (max-width: 853px) {
    font-size: 25px;
  }
}

.content2 h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #03a9f4;
}

.content2 h2:nth-child(2){
  color: #03a9f4;
  animation: water 4s ease-in-out infinite;
}

@keyframes water {
  0%,100%{
    clip-path: polygon(0% 45%,15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%,0% 100%);
  }  
  50% {
    clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}


.app__skills-container {
  width: 100%;
  margin-top: 3rem;
  
  display: flex;
  flex-direction: row;


  @media screen and (max-width: 900px) {
    width: 100%;
    flex-direction: column;
  }
}



.app__skills-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:0;
 
  
  @media screen and (min-width: 1200px) {
    
    padding-right: 3rem;
    // margin-left: 5rem;
    // margin-right: 5rem;
  
  }

  // @media screen and (max-width: 450px) {
  //   margin: 0;
  // }
}



.app__skills-item {
  flex-direction: column;
  text-align: center;

  margin: 1.2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  div {
    width: 64px;
    height: 64px;
    
    border-radius: 50%;
    background-color: #fff;

    img {
      width: 50%;
      height: 50%;
    }

    &:hover {
      box-shadow: 0 0 25px #d1cccd;
    }

    @media screen and (min-width: 2000px) {
      width: 150px;
      height: 150px;
    }


    @media screen and (max-width: 1200px) {
      width: 60px;
      height: 60px;
      margin: 0.5rem;
     
      
    }
    @media screen and (max-width: 450px) {
      width: 55px;
      height: 55px;
      margin: 0.5rem;
      
    }
  }

  p {
    font-weight: 500;
    margin-top: 0.5rem;
  }

 

  @media screen and (min-width: 2000px) {
    margin: 1rem 2rem;
    
    p {
      margin-top: 1rem;
    }
  }
}




.app__skills-exp {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //margin-left: 24px;
  margin-top: 2rem;
  
}

.app__skills-exp-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}

.app__skills-exp-works {
  flex: 1;

  .app__skills-exp-work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    cursor: pointer;

    h4 {
      font-weight: 500;
    }

    p{
      font-weight: 400;
      color: var(--gray-color);
      margin-top: 5px;
    }
  }
}

.app__skills-exp-year {
  margin-right: 3rem;

  p {
    font-weight: 800;
    color: var(--secondary-color);
  }

  @media screen and (max-width: 450px){
    margin-right: 1rem;
  }
}

.skills-tooltip {
  max-width: 300px !important;
  background-color: var(--white-color) !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  color: var(--gray-color) !important;
  text-align: center !important;
  line-height: 1.5 !important;
  opacity: 1 !important;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem !important;
    max-width: 500px !important;
    line-height: 2 !important;
  }
}